<%= link_to("<< Back to List", {action: 'index'}, class: 'back-to-link') %>

<div class="admin_users edit">
  <h2>Update User</h2>

  <%= form_for(:admin_user, url: {action: 'update', id: @admin_user.id}) do |f| %>

    <%= render(:partial => "form", locals: {f: f}) %>

    <div class="form-buttons">
      <%= submit_tag("Edit User") %>
    </div>

  <% end %>
</div>
