<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS<%= " | #{@page_title} " if @page_title %></title>
    <!-- Rails Helper -->
    <%= stylesheet_link_tag("application", media: "all") %>  <!-- Since it's public, it may be better to create a new public_only manifest file -->
    <!-- HTML Tag -->
    <!-- <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css" media="all" /> -->
  </head>
  <body>
    <div id="header">
      <h1>Simple CMS</h1>
    </div>
    <div id="main">
      <div id="navigation">
        <%= render(partial: 'layouts/navigation', locals: {subjects: @subjects}) %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="footer">
    <p id="copyright">&copy; something.com / Andrew Kirschke</p>
  </div>
</body>
</html>
